/* ONLY EDIT style.less */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*-- VARIABLES & MIXINS --*/
.transition {
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
}
.glory-gradient {
  background: #e59944;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e59944), color-stop(100%, #bf4c91));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e59944', endColorstr='#bf4c91', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.transition {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.opaque {
  opacity: 1 !important;
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.flipped {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
input,
textarea,
select {
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Gotham', arial bold, sans-serif;
  letter-spacing: .5px;
  color: #8f8e88;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #d74591;
  text-decoration: none;
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover {
  color: #ff0066;
  text-decoration: none;
}
a:focus {
  color: #ff0066;
  text-decoration: none;
}
.wrapper {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  background: url('../images/static.gif');
  background-size: cover !important;
  background-position: 0px 0px;
  height: 100%;
  position: absolute;
  top: 0px;
  /*  display: none;*/
}
.sidebar {
  width: 190px;
  float: left;
  height: 100%;
  position: relative;
  z-index: 10000;
  top: 0px;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(250, 0, 50, 0.3);
  background: #e59944;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e59944), color-stop(100%, #bf4c91));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e59944 0%, #bf4c91 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e59944', endColorstr='#bf4c91', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar .logo {
  height: 75px;
  width: 140px;
  background: transparent url("../images/galore-tv.png") scroll no-repeat 0 0;
  background-size: 140px auto;
  text-indent: 110%;
  overflow: visible;
  margin: 20px auto;
  display: inline-block;
}
.sidebar .logo span {
  display: none;
}
.firefox .sidebar {
  width: 220px;
}
.sidebar:-webkit-full-screen {
  left: -190px;
}
.sidebar:hover {
  left: 0px!important;
}
.sidebar img {
  display: block;
  margin: 0 auto;
}
.sidebar .song,
.sidebar .song p a,
.sidebar .song p {
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}
.song span,
.titlesong span a {
  margin-top: 10px;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: none;
  color: #fff;
  text-decoration: none;
}
.song span a:hover {
  color: #ff66a3;
}
.sidebar .song {
  margin: 20px auto;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 0 10px;
  min-height: 60px;
  max-width: 200px;
  position: relative;
  z-index: 2;
}
.sidebar .skip {
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.sidebar .skip:hover {
  opacity: 0.8;
}
.sidebar .remote {
  display: block;
  width: 220px;
  height: 545px;
  position: absolute;
  top: 0px;
  background: url('../images/remote.png') no-repeat;
}
.remote ul.main-btns {
  position: absolute;
  top: 125px;
  left: 0;
}
.remote ul li {
  width: 45px;
  height: 30px;
  overflow: hidden;
}
.remote ul li.fullscreen {
  margin: 0 22px;
}
.remote ul.main-btns li:last-child {
  margin-top: -8px;
}
.remote ul.sub-btns li.blank {
  background: transparent;
  width: 45px;
  height: 36px;
  float: left;
}
.remote ul.sub-btns li.grey-btn {
  width: 45px;
  height: 36px;
}
.remote ul.sub-btns {
  position: absolute;
  top: 190px;
  left: 4px;
}
.remote ul.sub-btns li.grey-btn,
.remote ul.sub-btns li.blue-btn,
.remote ul.sub-btns li.grn-btn {
  float: left;
}
.remote ul.social-btns {
  position: absolute;
  bottom: 0px;
  left: 48px;
}
.remote ul.social-btns li {
  float: left;
}
li.pink-btn {
  display: block;
  background: url('../images/btn-pink.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px 0px;
}
li.pink-btn:hover {
  display: block;
  background: url('../images/btn-pink.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
.remote ul.main-btns li.pause {
  display: block;
  background: url('../images/btn-pink.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
li#mute.lit {
  display: block;
  background: url('../images/btn-pink.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
li.grey-btn {
  display: block;
  background: url('../images/btn-grey.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px 0px;
}
li.grey-btn:hover {
  display: block;
  background: url('../images/btn-grey.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
li#wtfToggle.pressed {
  display: block;
  background: url('../images/btn-blue.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
li.blue-btn {
  display: block;
  background: url('../images/btn-blue.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px 0px;
}
li.blue-btn:hover {
  display: block;
  background: url('../images/btn-blue.png') no-repeat;
  background-size: 51px 68px;
  background-position: 0px -34px;
}
li.grn-btn {
  display: block;
  background: url('../images/btn-grn.png') no-repeat;
  background-size: 44px 68px;
  background-position: 0px 0px;
}
li.grn-btn:hover {
  display: block;
  background: url('../images/btn-grn.png') no-repeat;
  background-size: 44px 68px;
  background-position: 0px -34px;
}
#curVol {
  color: white;
  position: absolute;
  top: 320px;
  left: 80px;
}
#dots {
  position: absolute;
  top: -28px;
  left: -30px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.dotBack {
  position: absolute;
  top: -28px;
  left: -30px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.colorBarBack {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 0.5px solid #8900B2;
  background: rgba(0, 0, 0, 0.2) !important;
  position: absolute;
  opacity: 0.5;
  box-shadow: inset 0px 0px 1px #000000;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.colorBar {
  z-index: 9999;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 0.5px solid #8900B2;
  background: #ffa3ba;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa3ba 0%, #ff007c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa3ba), color-stop(100%, #ff007c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa3ba 0%, #ff007c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa3ba 0%, #ff007c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffa3ba 0%, #ff007c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffa3ba 0%, #ff007c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3ba', endColorstr='#ff007c', GradientType=0);
  /* IE6-9 */
  position: absolute;
  box-shadow: 0px 0px 6px #FF00FF;
  opacity: 0;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.colorBar.active {
  opacity: 1;
}
.btn {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #ff0066;
  margin: 10px auto;
  font-size: 11px;
  padding: 10px 0 7px 0;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  font-family: 'Gotham', sans-serif;
}
.btn:hover {
  background-color: #ff66a3;
}
.btn-light {
  background-color: #ff66a3;
}
.yellowBack {
  color: #ff0066;
  background-color: #f2ff02;
}
/*----------------------------
  knobKnob Styles
-----------------------------*/
#bars {
  position: absolute;
  top: 360px;
  left: 52px;
  opacity: 0.66;
}
.knob {
  width: 83px;
  height: 83px;
  position: relative;
}
.knob .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 83px;
  background: url('../images/knob.png') no-repeat;
  z-index: 10;
  cursor: default !important;
}
.knob .base {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  box-shadow: 0 5px 0 #4a5056, 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.knob .top:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #666;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -5px;
  border-radius: 50%;
  cursor: default !important;
  box-shadow: 0 0 1px #5a5a5a inset;
}
.knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*----------------------------
  End knobKnob Styles
-----------------------------*/
.videoContainer {
  width: 80%;
  overflow: hidden;
}
#ytContainer {
  height: 1px;
  width: 1px;
  overflow: hidden;
}
#big-video-wrap {
  position: relative;
  z-index: 2;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video-js {
  width: 100%!important;
  height: 100%!important;
}
.vjs-control-bar {
  display: none;
}
.loading {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-weight: 100;
}
.delete,
.ok {
  cursor: pointer;
}
.delete:hover,
.ok:hover {
  opacity: 0.8;
}
.credit {
  color: #fff;
  font-size: 13px;
  position: relative;
  top: -32px;
  line-height: 18px;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.firefox .credit {
  top: 40px;
}
.credit a {
  color: #FFCDCD;
  text-decoration: none;
}
.credit span {
  display: inline;
}
.credit a:hover {
  opacity: 0.8;
}
#facebook {
  margin-top: -8px;
}
.landing {
  width: 100%;
  height: 101%;
  display: block;
  position: absolute;
  z-index: 10000;
  background: url('imgs/landing.png');
  background-size: cover;
  top: -2px;
  cursor: pointer;
  display: none;
  background-position: top center;
}
.sorry {
  color: #fff;
  position: absolute;
  z-index: 99999;
  top: 100px;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px;
  display: none;
  text-transform: uppercase;
}
.sorry h1 span {
  display: inline-block;
  font-size: 3em;
}
.sorry a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.sorry a:hover {
  opacity: 0.8;
}
.side-mob {
  width: 100%;
  left: 0px;
  height: 100%;
  position: relative;
  z-index: 10000;
  top: 0px;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(250, 0, 50, 0.3);
  display: table;
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.side-mob .logo {
  height: 88px;
  width: 118px;
  position: absolute;
  top: 0px;
  left: 50%;
  background: transparent url("../images/logo.png") scroll no-repeat 0 0;
  background-size: 118px 88px;
  text-indent: 110%;
  overflow: visible;
  margin: 10px auto 10px -59px;
  display: inline-block;
  z-index: 99;
}
.side-mob .logo span {
  display: none;
}
.side-mob ul.mob-player {
  position: absolute;
  bottom: 15px;
  display: table-cell;
  margin: 0 auto;
}
.side-mob ul li.mob-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ff0066;
  color: white;
  padding: 4px 0px 0px 3px;
  float: left;
  margin: 0px 5px;
  box-shadow: 1px 1px 3px #f00028;
}
.side-mob ul li.mob-btn:hover,
.side-mob ul li.mob-btn:active {
  background: yellow;
}
@media only screen and (max-width: 400px) {
  .sorry {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .sideMob {
    display: block;
  }
}
#videoHero {
  position: fixed;
  left: -10%;
  top: -10%;
  opacity: 0;
}
#heatFader {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
  z-index: 9;
  background: linear-gradient(270deg, #ff00d8, #ffb200, #00ffdb);
  background-size: 600% 600%;
  -o-transition: 1s all easeinout;
  -moz-transition: 1s all easeinout;
  -webkit-transition: 1s all easeinout;
  transition: 1s all easeinout;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation: heatFade 22s ease infinite;
  -moz-animation: heatFade 22s ease infinite;
  -o-animation: heatFade 22s ease infinite;
  animation: heatFade 22s ease infinite;
}
@-webkit-keyframes heatFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes heatFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes heatFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes heatFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper:after {
  content: "";
  display: block;
  width: 125%;
  height: 125%;
  position: fixed;
  left: -10%;
  top: -10%;
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0.25) 2px);
  -webkit-background-size: 100% 2px;
  background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0.25) 2px);
  -moz-background-size: 100% 2px;
  z-index: 1;
}
.staticCover {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url('http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif');
  background-size: cover;
  z-index: 500;
}
#twitter-widget-0 {
  position: relative;
  top: -43px;
  z-index: 9999999;
  left: 66px;
}
.loaderMask {
  display: block;
  width: 78px;
  height: 75px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  background: url('imgs/cocktail.png');
  z-index: 100;
  border-radius: 9px;
}
.loaderBg {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  z-index: 50;
  left: 4px;
  top: 100px;
}
.loader {
  top: -15px;
  left: 3px;
  width: 78px;
  height: 74px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: none!important;
  margin: 34px auto 11px;
}
