doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_responsive.css')
	script(type='text/javascript' src='/javascripts/jquery.js')
	script(type='text/javascript' src='/javascripts/modernizr.custom.25477.js')
	script(type='text/javascript' src='/javascripts/bootstrap.min.js')
	script(type='text/javascript' src='/javascripts/transform.js')
	script(type='text/javascript' src='/javascripts/animate.js')
	script(type='text/javascript' src='/javascripts/knobKnob.jquery.js')
	script(type='text/javascript' src='/javascripts/player.js')

  body
    block content

    block footer