doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_responsive.css')

    script(src='/javascripts/jquery.js')
	script(src='/javascripts/modernizr.custom.25477.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/transform.js')
	script(src='/javascripts/animate.js')
	script(src='/javascripts/knobKnob.jquery.js')
	script(src='/javascripts/player.js')
  body
    block content

    block footer