doctype html
html
  head
    script(type='text/javascript').
      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_responsive.css')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description' content='Original and curated content, GaloreTV: Watch, Listen, Chill.')
    meta(name='keywords' content='galore, galoremag, galoretv, tv, galore tv')
  body
    block content

    block footer